\documentclass[ngerman]{scrartcl}

\usepackage{german}
\usepackage[german]{babel}
\usepackage{DejaVuSans}
\usepackage[utf8]{inputenc}
\renewcommand*\familydefault{\sfdefault}
\usepackage[T1]{fontenc}

\begin{document}
{% for elem in data %}
{{ elem.run_to_output() }}
{% endfor %}
\end{document}
